<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="BurgerShopConnectionString" connectionString="Data Source=DESKTOP-N2BBETH\SQLEXPRESS;Initial Catalog=BurgerShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="madras_cafeConnectionString" connectionString="Data Source=DESKTOP-N2BBETH\SQLEXPRESS;Initial Catalog=madras_cafe;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
